#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T]
#outputs [X, Y, Z, U, V, W]
#0: output Z, output U responds to input Q between output W and input T
(false R (! (oW & (true U iT)) | ((! iQ | (! iT U ((oZ & ! iT) & X (! iT U oU)))) U iT)))

#1: output X responds to input I after input L until input A
(false R (iL & (! ! iA | ((! iI | (! iA U (oX & ! iA))) WU iA))))

#2: input B precedes output Z, output W before input P
(! (true U iP) | (! ((oZ & ! iP) & X (! iP U (oW & ! iP))) U (iP | iB)))

#3: output Y responds to input L after output V until input G
(false R (oV & (! ! iG | ((! iL | (! iG U (oY & ! iG))) WU iG))))

#4: output X responds to input L between input E and output U
(false R (! ((iE & ! oU) & (true U oU)) | ((! iL | (! oU U (oX & ! oU))) U oU)))

#5: input J, output W always precedes output Z
(! (true U oZ) | (! oZ U ((iJ & ! oZ) & X (! oZ U oW))))

#6: output Y responds to input S, input R between output Z and output X
(false R (! (oZ & (true U oX)) | ((iS & (! X (! oX U iR) | X (! oX U (iR & (true U oY))))) U oX)))

#7: output Y, output W without output X responds to input H before input N
(! (true U iN) | ((! iH | (! iN U (((oY & ! iN) & ! oX) & X ((! iN & ! oX) U oW)))) U iN))

#8: input K, input J precedes output Y after input B
((false R ! iB) | (! iB U (iB & (! (true U oY) | (! oY U ((iK & ! oY) & X (! oY U iJ)))))))

#9: output X precedes output U between output V and input Q
(false R (! ((oV & ! iQ) & (true U iQ)) | (! oU U (oX | iQ))))

#10: output Z, output Y without output V always responds to input I
(false R (! iI | (true U ((oZ & ! oV) & X (! oV U oY)))))

#11: output U precedes output Z after output X until input A
(false R (oX & (! ! iA | (! oZ WU (oU | iA)))))

#12: output V responds to input B after input I
(false R (! iI | (false R (! iB | (true U oV)))))

#13: output Y responds to input N between input I and input G
(false R (! ((iI & ! iG) & (true U iG)) | ((! iN | (! iG U (oY & ! iG))) U iG)))

#14: output Y, output Z responds to input G before input N
(! (true U iN) | ((! iG | (! iN U ((oY & ! iN) & X (! iN U oZ)))) U iN))

#15: output Y, output V without output W responds to input C betwen input B and input R
(false R (! (iB & (true U iR)) | ((! iC | (! iR U (((oY & ! iR) & ! oW) & X ((! iR & ! oW) U oV)))) U iR)))

#16: input T always precedes output Z, output Y
(! (true U (oZ & X (true U oY))) | (! oZ U iT))

#17: input F, input J precedes output W after input A
((false R ! iA) | (! iA U (iA & (! (true U oW) | (! oW U ((iF & ! oW) & X (! oW U iJ)))))))

#18: input J precedes output X between input O and input E
(false R (! ((iO & ! iE) & (true U iE)) | (! oX U (iJ | iE))))

#19: output W always responds to input R
(false R (! iR | (true U oW)))

#20: input M precedes output Y between output U and input R
(false R (! ((oU & ! iR) & (true U iR)) | (! oY U (iM | iR))))

#21: output X responds to input P after input S until input M
(false R (iS & (! ! iM | ((! iP | (! iM U (oX & ! iM))) WU iM))))

#22: output U responds to input C, input R after input A
(false R (! iA | (false R (iC & (! X (true U iR) | X (! iR U (iR & (true U oU))))))))

#23: output U responds to input F after input I until input T
(false R (iI & (! ! iT | ((! iF | (! iT U (oU & ! iT))) WU iT))))

#24: input G, input A precedes output Z after input C
((false R ! iC) | (! iC U (iC & (! (true U oZ) | (! oZ U ((iG & ! oZ) & X (! oZ U iA)))))))

#25: output Z responds to input K after input R until input T
(false R (iR & (! ! iT | ((! iK | (! iT U (oZ & ! iT))) WU iT))))

#26: output V, output Z without output U responds to input B betwen input A and input F
(false R (! (iA & (true U iF)) | ((! iB | (! iF U (((oV & ! iF) & ! oU) & X ((! iF & ! oU) U oZ)))) U iF)))

#27: input L precedes output Y, output W between output X and input A
(false R (! (oX & (true U iA)) | (! ((oY & ! iA) & X (! iA U (oW & ! iA))) U (iA | iL))))

#28: input Q, output X always precedes output U
(! (true U oU) | (! oU U ((iQ & ! oU) & X (! oU U oX))))

#29: output U precedes output Y between output V and input R
(false R (! ((oV & ! iR) & (true U iR)) | (! oY U (oU | iR))))

#30: output X responds to input C between input O and input M
(false R (! ((iO & ! iM) & (true U iM)) | ((! iC | (! iM U (oX & ! iM))) U iM)))

#31: input S precedes output U, output Z before input B
(! (true U iB) | (! ((oU & ! iB) & X (! iB U (oZ & ! iB))) U (iB | iS)))

#32: output Z, output U without output X responds to input H after input Q until input S
(false R (! iQ | ((! iH | (! iS U (((oZ & ! iS) & ! oX) & X ((! iS & ! oX) U oU)))) U (iS | (false R (! iH | ((oZ & ! oX) & X (! oX U oU))))))))

#33: output V, output U responds to input B after input C
(false R (! iC | (false R (! iB | (oV & X (true U oU))))))

#34: output Z, output Y without output V responds to input I betwen input C and output U
(false R (! (iC & (true U oU)) | ((! iI | (! oU U (((oZ & ! oU) & ! oV) & X ((! oU & ! oV) U oY)))) U oU)))

#35: input L, input A precedes output Y after output W until input K
(false R (! oW | (! (true U oY) | (! oY U (iK | ((iL & ! oY) & X (! oY U iA)))))))

#36: output X responds to input P between input I and input S
(false R (! ((iI & ! iS) & (true U iS)) | ((! iP | (! iS U (oX & ! iS))) U iS)))

#37: output Z, output X without output V always responds to input H
(false R (! iH | (true U ((oZ & ! oV) & X (! oV U oX)))))

#38: output Y, output U without output W always responds to input A
(false R (! iA | (true U ((oY & ! oW) & X (! oW U oU)))))

#39: output W, output X without output U always responds to input O
(false R (! iO | (true U ((oW & ! oU) & X (! oU U oX)))))

#40: output U responds to input R, input F after input P until input T
(false R (! iP | ((iR & (! X (! iT U iF) | X (! iT U (iF & (true U oU))))) U (iT | (false R (iR & (! X (! iT U iF) | X (! iT U (iF & (true U oU))))))))))

#41: input P, input N precedes output W before input G
(! (true U iG) | (! oW U (iG | ((iP & ! oW) & X (! oW U iN)))))

#42: output X, output V without output Z responds to input J before input P
(! (true U iP) | ((! iJ | (! iP U (((oX & ! iP) & ! oZ) & X ((! iP & ! oZ) U oV)))) U iP))

#43: input E precedes output Y, output W between input R and input B
(false R (! (iR & (true U iB)) | (! ((oY & ! iB) & X (! iB U (oW & ! iB))) U (iB | iE))))

#44: input S precedes output Z, output Y before output W
(! (true U oW) | (! ((oZ & ! oW) & X (! oW U (oY & ! oW))) U (oW | iS)))

#45: output Y, output V responds to input G before input T
(! (true U iT) | ((! iG | (! iT U ((oY & ! iT) & X (! iT U oV)))) U iT))

#46: output W responds to input A, input M after input C
(false R (! iC | (false R (iA & (! X (true U iM) | X (! iM U (iM & (true U oW))))))))

#47: output V, input F precedes output Z after input E
((false R ! iE) | (! iE U (iE & (! (true U oZ) | (! oZ U ((oV & ! oZ) & X (! oZ U iF)))))))

#48: input M precedes output Z after input S
((false R ! iS) | (true U (iS & (! oZ WU iM))))

#49: input Q, input M precedes output X before output V
(! (true U oV) | (! oX U (oV | ((iQ & ! oX) & X (! oX U iM)))))

#50: input C precedes output X after input N until input Q
(false R (iN & (! ! iQ | (! oX WU (iC | iQ)))))

#51: input M, input E precedes output X before output U
(! (true U oU) | (! oX U (oU | ((iM & ! oX) & X (! oX U iE)))))

#52: output V responds to input G before input L
(! (true U iL) | ((! iG | (! iL U (oV & ! iL))) U iL))

#53: output W, output Y without output X responds to input S after input J
(false R (! iJ | (false R (! iS | ((oW & ! oX) & X (! oX U oY))))))

#54: input I precedes output V between input N and input A
(false R (! ((iN & ! iA) & (true U iA)) | (! oV U (iI | iA))))

#55: output Z, input Q precedes output X before output U
(! (true U oU) | (! oX U (oU | ((oZ & ! oX) & X (! oX U iQ)))))

#56: output X responds to input E between input L and input D
(false R (! ((iL & ! iD) & (true U iD)) | ((! iE | (! iD U (oX & ! iD))) U iD)))

#57: output Y, output X responds to input P before input G
(! (true U iG) | ((! iP | (! iG U ((oY & ! iG) & X (! iG U oX)))) U iG))

#58: output X responds to input S after input R
(false R (! iR | (false R (! iS | (true U oX)))))

#59: input T precedes output U, output W between output Y and input I
(false R (! (oY & (true U iI)) | (! ((oU & ! iI) & X (! iI U (oW & ! iI))) U (iI | iT))))

#60: input J always precedes output V
(! oV WU iJ)

#61: input I precedes output U after input G
((false R ! iG) | (true U (iG & (! oU WU iI))))

#62: output Z responds to input P, input H after input K
(false R (! iK | (false R (iP & (! X (true U iH) | X (! iH U (iH & (true U oZ))))))))

#63: output Y, output V without output U responds to input F before input K
(! (true U iK) | ((! iF | (! iK U (((oY & ! iK) & ! oU) & X ((! iK & ! oU) U oV)))) U iK))

#64: output W, output U without output X responds to input M after input F
(false R (! iF | (false R (! iM | ((oW & ! oX) & X (! oX U oU))))))

#65: input J precedes output V, output U between output W and input M
(false R (! (oW & (true U iM)) | (! ((oV & ! iM) & X (! iM U (oU & ! iM))) U (iM | iJ))))

#66: input A, output X precedes output Z before input J
(! (true U iJ) | (! oZ U (iJ | ((iA & ! oZ) & X (! oZ U oX)))))

#67: output V always responds to input G, input J
(false R (iG & (! X (true U iJ) | X (true U (iJ & (true U oV))))))

#68: input J precedes output Y between input A and input O
(false R (! ((iA & ! iO) & (true U iO)) | (! oY U (iJ | iO))))

#69: output X precedes output W, output V before input O
(! (true U iO) | (! ((oW & ! iO) & X (! iO U (oV & ! iO))) U (iO | oX)))

#70: output Z precedes output V, output X after input Q
((false R ! iQ) | (! iQ U (iQ & (! (true U (oV & X (true U oX))) | (! oV U oZ)))))

#71: input T always precedes output X
(! oX WU iT)

#72: output Y responds to input E after input G until input B
(false R (iG & (! ! iB | ((! iE | (! iB U (oY & ! iB))) WU iB))))

#73: input A precedes output W between input O and input C
(false R (! ((iO & ! iC) & (true U iC)) | (! oW U (iA | iC))))

#74: input T always precedes output Y
(! oY WU iT)

#75: output W, output U responds to input H between output X and input I
(false R (! (oX & (true U iI)) | ((! iH | (! iI U ((oW & ! iI) & X (! iI U oU)))) U iI)))

#76: input C precedes output X, output V after input S until input I
(false R (! iS | ((! ((oX & ! iI) & X (! iI U (oV & ! iI))) U (iI | iC)) | (false R ! (oX & X (true U oV))))))

#77: input T precedes output V after input D
((false R ! iD) | (true U (iD & (! oV WU iT))))

#78: input S, input Q precedes output Y between input N and output Z
(false R (! (iN & (true U oZ)) | (! oY U (oZ | ((iS & ! oY) & X (! oY U iQ))))))

#79: input D, input N always precedes output V
(! (true U oV) | (! oV U ((iD & ! oV) & X (! oV U iN))))

#80: output X, output Z responds to input Q after output Y
(false R (! oY | (false R (! iQ | (oX & X (true U oZ))))))

#81: output W, output U without output V responds to input S betwen input H and input E
(false R (! (iH & (true U iE)) | ((! iS | (! iE U (((oW & ! iE) & ! oV) & X ((! iE & ! oV) U oU)))) U iE)))

#82: output Y always responds to input O
(false R (! iO | (true U oY)))

#83: input Q precedes output U, output Z after input T
((false R ! iT) | (! iT U (iT & (! (true U (oU & X (true U oZ))) | (! oU U iQ)))))

#84: output Y, output V responds to input N before input K
(! (true U iK) | ((! iN | (! iK U ((oY & ! iK) & X (! iK U oV)))) U iK))

#85: output V responds to input K between input D and input T
(false R (! ((iD & ! iT) & (true U iT)) | ((! iK | (! iT U (oV & ! iT))) U iT)))

#86: output Z, output X without output Y responds to input C betwen input L and input J
(false R (! (iL & (true U iJ)) | ((! iC | (! iJ U (((oZ & ! iJ) & ! oY) & X ((! iJ & ! oY) U oX)))) U iJ)))

#87: input K precedes output X after input L until input E
(false R (iL & (! ! iE | (! oX WU (iK | iE)))))

#88: output Y responds to input A between input J and input O
(false R (! ((iJ & ! iO) & (true U iO)) | ((! iA | (! iO U (oY & ! iO))) U iO)))

#89: input K precedes output Z, output W between input J and input D
(false R (! (iJ & (true U iD)) | (! ((oZ & ! iD) & X (! iD U (oW & ! iD))) U (iD | iK))))

#90: output U, output Z without output X responds to input G after input M until input A
(false R (! iM | ((! iG | (! iA U (((oU & ! iA) & ! oX) & X ((! iA & ! oX) U oZ)))) U (iA | (false R (! iG | ((oU & ! oX) & X (! oX U oZ))))))))

#91: output W, output V without output Z responds to input N betwen output X and input F
(false R (! (oX & (true U iF)) | ((! iN | (! iF U (((oW & ! iF) & ! oZ) & X ((! iF & ! oZ) U oV)))) U iF)))

#92: output V, output X responds to input D after input E until input Q
(false R (! iE | ((! iD | (! iQ U ((oV & ! iQ) & X (! iQ U oX)))) U (iQ | (false R (! iD | (oV & X (true U oX))))))))

#93: output W, input C precedes output Z after input O
((false R ! iO) | (! iO U (iO & (! (true U oZ) | (! oZ U ((oW & ! oZ) & X (! oZ U iC)))))))

#94: output X, output W without output V always responds to input N
(false R (! iN | (true U ((oX & ! oV) & X (! oV U oW)))))

#95: input Q precedes output X after input E until input O
(false R (iE & (! ! iO | (! oX WU (iQ | iO)))))

#96: output Z, output X responds to input H between input L and output W
(false R (! (iL & (true U oW)) | ((! iH | (! oW U ((oZ & ! oW) & X (! oW U oX)))) U oW)))

#97: input L, input N precedes output W before output U
(! (true U oU) | (! oW U (oU | ((iL & ! oW) & X (! oW U iN)))))

#98: output W, output U responds to input H between input F and input B
(false R (! (iF & (true U iB)) | ((! iH | (! iB U ((oW & ! iB) & X (! iB U oU)))) U iB)))

#99: output Y, output X without output U always responds to input F
(false R (! iF | (true U ((oY & ! oU) & X (! oU U oX)))))

