#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O]
#outputs [X, Y, Z, U, V, W, S, T, P, Q, R]
#0: input M, output T always precedes output X
(! (true U oX) | (! oX U ((iM & ! oX) & X (! oX U oT))))

#1: output U, output S without output V responds to input A before output W
(! (true U oW) | ((! iA | (! oW U (((oU & ! oW) & ! oV) & X ((! oW & ! oV) U oS)))) U oW))

#2: output U responds to input O, input B between input F and output S
(false R (! (iF & (true U oS)) | ((iO & (! X (! oS U iB) | X (! oS U (iB & (true U oU))))) U oS)))

#3: output Z, output Y responds to input L before input F
(! (true U iF) | ((! iL | (! iF U ((oZ & ! iF) & X (! iF U oY)))) U iF))

#4: input I precedes output S, output V after output Y
((false R ! oY) | (! oY U (oY & (! (true U (oS & X (true U oV))) | (! oS U iI)))))

#5: output X precedes output P, output R between input I and input O
(false R (! (iI & (true U iO)) | (! ((oP & ! iO) & X (! iO U (oR & ! iO))) U (iO | oX))))

#6: output Q, output S responds to input E between input G and output U
(false R (! (iG & (true U oU)) | ((! iE | (! oU U ((oQ & ! oU) & X (! oU U oS)))) U oU)))

#7: output Y responds to input M after output Z
(false R (! oZ | (false R (! iM | (true U oY)))))

#8: input N precedes output X after output Q until input M
(false R (oQ & (! ! iM | (! oX WU (iN | iM)))))

#9: input D, input E always precedes output P
(! (true U oP) | (! oP U ((iD & ! oP) & X (! oP U iE))))

#10: output X, output R responds to input L between input D and input B
(false R (! (iD & (true U iB)) | ((! iL | (! iB U ((oX & ! iB) & X (! iB U oR)))) U iB)))

#11: input I, input B precedes output T after input E until output R
(false R (! iE | (! (true U oT) | (! oT U (oR | ((iI & ! oT) & X (! oT U iB)))))))

#12: output U, output Y without output S always responds to input M
(false R (! iM | (true U ((oU & ! oS) & X (! oS U oY)))))

#13: output U responds to input J, input O after input E until output X
(false R (! iE | ((iJ & (! X (! oX U iO) | X (! oX U (iO & (true U oU))))) U (oX | (false R (iJ & (! X (! oX U iO) | X (! oX U (iO & (true U oU))))))))))

#14: input A precedes output P between output T and input B
(false R (! ((oT & ! iB) & (true U iB)) | (! oP U (iA | iB))))

#15: input E, output P precedes output U between output T and input D
(false R (! (oT & (true U iD)) | (! oU U (iD | ((iE & ! oU) & X (! oU U oP))))))

#16: output T responds to input F after input G until input K
(false R (iG & (! ! iK | ((! iF | (! iK U (oT & ! iK))) WU iK))))

#17: output W, output V without output X responds to input E after output Q
(false R (! oQ | (false R (! iE | ((oW & ! oX) & X (! oX U oV))))))

#18: input D precedes output V before input H
(! (true U iH) | (! oV U (iD | iH)))

#19: output T, output V always responds to input I
(false R (! iI | (true U (oT & X (true U oV)))))

#20: output R, output T always responds to input B
(false R (! iB | (true U (oR & X (true U oT)))))

#21: output W responds to input F between input A and input E
(false R (! ((iA & ! iE) & (true U iE)) | ((! iF | (! iE U (oW & ! iE))) U iE)))

#22: output Y, output P without output X always responds to input L
(false R (! iL | (true U ((oY & ! oX) & X (! oX U oP)))))

#23: output Y, output W without output T always responds to input A
(false R (! iA | (true U ((oY & ! oT) & X (! oT U oW)))))

#24: input H precedes output X after input L until input E
(false R (iL & (! ! iE | (! oX WU (iH | iE)))))

#25: output V, input K precedes output R after input A until input L
(false R (! iA | (! (true U oR) | (! oR U (iL | ((oV & ! oR) & X (! oR U iK)))))))

#26: output S, output X responds to input I after input L
(false R (! iL | (false R (! iI | (oS & X (true U oX))))))

#27: output T, output U without output R responds to input F betwen input G and input E
(false R (! (iG & (true U iE)) | ((! iF | (! iE U (((oT & ! iE) & ! oR) & X ((! iE & ! oR) U oU)))) U iE)))

#28: output S, input G precedes output W between output Y and output Q
(false R (! (oY & (true U oQ)) | (! oW U (oQ | ((oS & ! oW) & X (! oW U iG))))))

#29: input E, input D precedes output T between input A and output Q
(false R (! (iA & (true U oQ)) | (! oT U (oQ | ((iE & ! oT) & X (! oT U iD))))))

#30: output U responds to input C before output T
(! (true U oT) | ((! iC | (! oT U (oU & ! oT))) U oT))

#31: output W always responds to input L, input D
(false R (iL & (! X (true U iD) | X (true U (iD & (true U oW))))))

#32: output X always responds to input N, input A
(false R (iN & (! X (true U iA) | X (true U (iA & (true U oX))))))

#33: output P responds to input M, input O between output T and input A
(false R (! (oT & (true U iA)) | ((iM & (! X (! iA U iO) | X (! iA U (iO & (true U oP))))) U iA)))

#34: output T, output W responds to input I after input J
(false R (! iJ | (false R (! iI | (oT & X (true U oW))))))

#35: input A precedes output R, output Q before output P
(! (true U oP) | (! ((oR & ! oP) & X (! oP U (oQ & ! oP))) U (oP | iA)))

#36: output R, output X without output Q responds to input C before input O
(! (true U iO) | ((! iC | (! iO U (((oR & ! iO) & ! oQ) & X ((! iO & ! oQ) U oX)))) U iO))

#37: output S responds to input G, input N before input A
(! (true U iA) | ((iG & (! X (! iA U iN) | X (! iA U (iN & (true U oS))))) U iA))

#38: input E, output U precedes output Z after output T
((false R ! oT) | (! oT U (oT & (! (true U oZ) | (! oZ U ((iE & ! oZ) & X (! oZ U oU)))))))

#39: input G precedes output Y, output R after output S
((false R ! oS) | (! oS U (oS & (! (true U (oY & X (true U oR))) | (! oY U iG)))))

#40: input G precedes output Z, output U before input C
(! (true U iC) | (! ((oZ & ! iC) & X (! iC U (oU & ! iC))) U (iC | iG)))

#41: output Q responds to input M, input L before input N
(! (true U iN) | ((iM & (! X (! iN U iL) | X (! iN U (iL & (true U oQ))))) U iN))

#42: output Y precedes output Z between input B and input H
(false R (! ((iB & ! iH) & (true U iH)) | (! oZ U (oY | iH))))

#43: input H precedes output S between output T and input I
(false R (! ((oT & ! iI) & (true U iI)) | (! oS U (iH | iI))))

#44: input M precedes output T, output Q before output S
(! (true U oS) | (! ((oT & ! oS) & X (! oS U (oQ & ! oS))) U (oS | iM)))

#45: output Y, output V always responds to input B
(false R (! iB | (true U (oY & X (true U oV)))))

#46: output Z, output W responds to input M between output Y and input B
(false R (! (oY & (true U iB)) | ((! iM | (! iB U ((oZ & ! iB) & X (! iB U oW)))) U iB)))

#47: input L always precedes output V
(! oV WU iL)

#48: output R always responds to input F, input J
(false R (iF & (! X (true U iJ) | X (true U (iJ & (true U oR))))))

#49: output R responds to input J before input M
(! (true U iM) | ((! iJ | (! iM U (oR & ! iM))) U iM))

#50: input L, output Y precedes output P after output Z
((false R ! oZ) | (! oZ U (oZ & (! (true U oP) | (! oP U ((iL & ! oP) & X (! oP U oY)))))))

#51: output S always responds to input G
(false R (! iG | (true U oS)))

#52: output Z, output W without output V always responds to input O
(false R (! iO | (true U ((oZ & ! oV) & X (! oV U oW)))))

#53: input F, input L precedes output S before output Z
(! (true U oZ) | (! oS U (oZ | ((iF & ! oS) & X (! oS U iL)))))

#54: input I precedes output T between output Z and output R
(false R (! ((oZ & ! oR) & (true U oR)) | (! oT U (iI | oR))))

#55: input B, input G always precedes output W
(! (true U oW) | (! oW U ((iB & ! oW) & X (! oW U iG))))

#56: input K, input B precedes output V after output S until output Y
(false R (! oS | (! (true U oV) | (! oV U (oY | ((iK & ! oV) & X (! oV U iB)))))))

#57: output R always responds to input I
(false R (! iI | (true U oR)))

#58: input H always precedes output X, output R
(! (true U (oX & X (true U oR))) | (! oX U iH))

#59: output R responds to input L, input B after output W
(false R (! oW | (false R (iL & (! X (true U iB) | X (! iB U (iB & (true U oR))))))))

#60: output Z, output R always responds to input K
(false R (! iK | (true U (oZ & X (true U oR)))))

#61: input H precedes output P, output X after input O until input D
(false R (! iO | ((! ((oP & ! iD) & X (! iD U (oX & ! iD))) U (iD | iH)) | (false R ! (oP & X (true U oX))))))

#62: output Z, output Q without output V responds to input E betwen input I and input O
(false R (! (iI & (true U iO)) | ((! iE | (! iO U (((oZ & ! iO) & ! oV) & X ((! iO & ! oV) U oQ)))) U iO)))

#63: output Q responds to input K, input I between input E and output R
(false R (! (iE & (true U oR)) | ((iK & (! X (! oR U iI) | X (! oR U (iI & (true U oQ))))) U oR)))

#64: output Z, output S responds to input H after input A
(false R (! iA | (false R (! iH | (oZ & X (true U oS))))))

#65: output Y responds to input G, input C between input H and output R
(false R (! (iH & (true U oR)) | ((iG & (! X (! oR U iC) | X (! oR U (iC & (true U oY))))) U oR)))

#66: output S responds to input O before input A
(! (true U iA) | ((! iO | (! iA U (oS & ! iA))) U iA))

#67: output T always responds to input H, input L
(false R (iH & (! X (true U iL) | X (true U (iL & (true U oT))))))

#68: output S precedes output Q after input A
((false R ! iA) | (true U (iA & (! oQ WU oS))))

#69: input L, input J always precedes output X
(! (true U oX) | (! oX U ((iL & ! oX) & X (! oX U iJ))))

#70: output Q, output R without output Y responds to input E after input B
(false R (! iB | (false R (! iE | ((oQ & ! oY) & X (! oY U oR))))))

#71: output V, output Z without output Y responds to input G before output R
(! (true U oR) | ((! iG | (! oR U (((oV & ! oR) & ! oY) & X ((! oR & ! oY) U oZ)))) U oR))

#72: output P, output T responds to input K before input D
(! (true U iD) | ((! iK | (! iD U ((oP & ! iD) & X (! iD U oT)))) U iD))

#73: output Q, output Y responds to input N after input C
(false R (! iC | (false R (! iN | (oQ & X (true U oY))))))

#74: output T, output V always responds to input D
(false R (! iD | (true U (oT & X (true U oV)))))

#75: output S, output W responds to input C before output Z
(! (true U oZ) | ((! iC | (! oZ U ((oS & ! oZ) & X (! oZ U oW)))) U oZ))

#76: output Y, output Q responds to input M between input H and output S
(false R (! (iH & (true U oS)) | ((! iM | (! oS U ((oY & ! oS) & X (! oS U oQ)))) U oS)))

#77: input I precedes output S, output V before input F
(! (true U iF) | (! ((oS & ! iF) & X (! iF U (oV & ! iF))) U (iF | iI)))

#78: output R always responds to input F
(false R (! iF | (true U oR)))

#79: output R, output S without output Y always responds to input N
(false R (! iN | (true U ((oR & ! oY) & X (! oY U oS)))))

#80: output P, output Z without output R responds to input H after input E
(false R (! iE | (false R (! iH | ((oP & ! oR) & X (! oR U oZ))))))

#81: output W, output Q responds to input L between input K and input O
(false R (! (iK & (true U iO)) | ((! iL | (! iO U ((oW & ! iO) & X (! iO U oQ)))) U iO)))

#82: input N precedes output X, output U after input K
((false R ! iK) | (! iK U (iK & (! (true U (oX & X (true U oU))) | (! oX U iN)))))

#83: output X always responds to input J, input D
(false R (iJ & (! X (true U iD) | X (true U (iD & (true U oX))))))

#84: output X, output T responds to input L between input F and input E
(false R (! (iF & (true U iE)) | ((! iL | (! iE U ((oX & ! iE) & X (! iE U oT)))) U iE)))

#85: output V, output P without output Q responds to input F after output W until input A
(false R (! oW | ((! iF | (! iA U (((oV & ! iA) & ! oQ) & X ((! iA & ! oQ) U oP)))) U (iA | (false R (! iF | ((oV & ! oQ) & X (! oQ U oP))))))))

#86: input B precedes output Z, output X after output V until output P
(false R (! oV | ((! ((oZ & ! oP) & X (! oP U (oX & ! oP))) U (oP | iB)) | (false R ! (oZ & X (true U oX))))))

#87: output Y, output W responds to input B between input H and input J
(false R (! (iH & (true U iJ)) | ((! iB | (! iJ U ((oY & ! iJ) & X (! iJ U oW)))) U iJ)))

#88: output U, output W responds to input H before output V
(! (true U oV) | ((! iH | (! oV U ((oU & ! oV) & X (! oV U oW)))) U oV))

#89: input L precedes output R before output Q
(! (true U oQ) | (! oR U (iL | oQ)))

#90: output Z, output W without output P responds to input M after input N until input D
(false R (! iN | ((! iM | (! iD U (((oZ & ! iD) & ! oP) & X ((! iD & ! oP) U oW)))) U (iD | (false R (! iM | ((oZ & ! oP) & X (! oP U oW))))))))

#91: input G precedes output T after output P until input C
(false R (oP & (! ! iC | (! oT WU (iG | iC)))))

#92: output T always responds to input A
(false R (! iA | (true U oT)))

#93: output W precedes output X between input C and output Q
(false R (! ((iC & ! oQ) & (true U oQ)) | (! oX U (oW | oQ))))

#94: output W responds to input G after input N until output U
(false R (iN & (! ! oU | ((! iG | (! oU U (oW & ! oU))) WU oU))))

#95: output Z, output R responds to input B before output P
(! (true U oP) | ((! iB | (! oP U ((oZ & ! oP) & X (! oP U oR)))) U oP))

#96: output W, output T responds to input C between output R and input K
(false R (! (oR & (true U iK)) | ((! iC | (! iK U ((oW & ! iK) & X (! iK U oT)))) U iK)))

#97: output R responds to input N, input O between input H and input L
(false R (! (iH & (true U iL)) | ((iN & (! X (! iL U iO) | X (! iL U (iO & (true U oR))))) U iL)))

#98: output U, input F precedes output P after output V
((false R ! oV) | (! oV U (oV & (! (true U oP) | (! oP U ((oU & ! oP) & X (! oP U iF)))))))

#99: input H precedes output X after input B
((false R ! iB) | (true U (iB & (! oX WU iH))))

