#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O]
#outputs [X, Y, Z, U, V, W, S, T, P, Q, R]
#0: output W responds to input C after output U until output Q
(false R (oU & (! ! oQ | ((! iC | (! oQ U (oW & ! oQ))) WU oQ))))

#1: input O precedes output Y after output W until input N
(false R (oW & (! ! iN | (! oY WU (iO | iN)))))

#2: output T precedes output V between input H and input O
(false R (! ((iH & ! iO) & (true U iO)) | (! oV U (oT | iO))))

#3: output Q, output T responds to input C before input H
(! (true U iH) | ((! iC | (! iH U ((oQ & ! iH) & X (! iH U oT)))) U iH))

#4: output T responds to input B after output P until output Y
(false R (oP & (! ! oY | ((! iB | (! oY U (oT & ! oY))) WU oY))))

#5: output R, output U responds to input C after input L until input I
(false R (! iL | ((! iC | (! iI U ((oR & ! iI) & X (! iI U oU)))) U (iI | (false R (! iC | (oR & X (true U oU))))))))

#6: output U responds to input E after input B
(false R (! iB | (false R (! iE | (true U oU)))))

#7: output W always precedes output T, output Z
(! (true U (oT & X (true U oZ))) | (! oT U oW))

#8: output X always responds to input I
(false R (! iI | (true U oX)))

#9: input G precedes output X, output P between output V and input I
(false R (! (oV & (true U iI)) | (! ((oX & ! iI) & X (! iI U (oP & ! iI))) U (iI | iG))))

#10: output Q always responds to input B
(false R (! iB | (true U oQ)))

#11: output R responds to input M, input N between output P and input A
(false R (! (oP & (true U iA)) | ((iM & (! X (! iA U iN) | X (! iA U (iN & (true U oR))))) U iA)))

#12: output P, input J precedes output Y after input I until output R
(false R (! iI | (! (true U oY) | (! oY U (oR | ((oP & ! oY) & X (! oY U iJ)))))))

#13: output T precedes output W after input F until output S
(false R (iF & (! ! oS | (! oW WU (oT | oS)))))

#14: output Y responds to input G, input F between output Q and output W
(false R (! (oQ & (true U oW)) | ((iG & (! X (! oW U iF) | X (! oW U (iF & (true U oY))))) U oW)))

#15: output S, output T responds to input C before input G
(! (true U iG) | ((! iC | (! iG U ((oS & ! iG) & X (! iG U oT)))) U iG))

#16: output T responds to input I before input J
(! (true U iJ) | ((! iI | (! iJ U (oT & ! iJ))) U iJ))

#17: input H precedes output Q, output T after input G
((false R ! iG) | (! iG U (iG & (! (true U (oQ & X (true U oT))) | (! oQ U iH)))))

#18: output Y responds to input E before input A
(! (true U iA) | ((! iE | (! iA U (oY & ! iA))) U iA))

#19: output V responds to input N, input A before output X
(! (true U oX) | ((iN & (! X (! oX U iA) | X (! oX U (iA & (true U oV))))) U oX))

#20: input E always precedes output T
(! oT WU iE)

#21: output Y, output Z without output X always responds to input K
(false R (! iK | (true U ((oY & ! oX) & X (! oX U oZ)))))

#22: output X, output Z always responds to input C
(false R (! iC | (true U (oX & X (true U oZ)))))

#23: output R precedes output Z, output T between input C and input K
(false R (! (iC & (true U iK)) | (! ((oZ & ! iK) & X (! iK U (oT & ! iK))) U (iK | oR))))

#24: output R, input M precedes output Y after input H
((false R ! iH) | (! iH U (iH & (! (true U oY) | (! oY U ((oR & ! oY) & X (! oY U iM)))))))

#25: output U responds to input F, input B between input G and output Y
(false R (! (iG & (true U oY)) | ((iF & (! X (! oY U iB) | X (! oY U (iB & (true U oU))))) U oY)))

#26: input L always precedes output U, output V
(! (true U (oU & X (true U oV))) | (! oU U iL))

#27: output V responds to input G after input D until input J
(false R (iD & (! ! iJ | ((! iG | (! iJ U (oV & ! iJ))) WU iJ))))

#28: output X, output Q without output V responds to input J after output U
(false R (! oU | (false R (! iJ | ((oX & ! oV) & X (! oV U oQ))))))

#29: input F precedes output Z, output S before input C
(! (true U iC) | (! ((oZ & ! iC) & X (! iC U (oS & ! iC))) U (iC | iF)))

#30: output Z responds to input N, input G before output U
(! (true U oU) | ((iN & (! X (! oU U iG) | X (! oU U (iG & (true U oZ))))) U oU))

#31: input K precedes output Z, output W after input H until input I
(false R (! iH | ((! ((oZ & ! iI) & X (! iI U (oW & ! iI))) U (iI | iK)) | (false R ! (oZ & X (true U oW))))))

#32: input I precedes output W between output U and output Q
(false R (! ((oU & ! oQ) & (true U oQ)) | (! oW U (iI | oQ))))

#33: input E precedes output Q after input I until output V
(false R (iI & (! ! oV | (! oQ WU (iE | oV)))))

#34: output T, output Z precedes output W after output Y
((false R ! oY) | (! oY U (oY & (! (true U oW) | (! oW U ((oT & ! oW) & X (! oW U oZ)))))))

#35: output R precedes output Q, output U after input J until output W
(false R (! iJ | ((! ((oQ & ! oW) & X (! oW U (oU & ! oW))) U (oW | oR)) | (false R ! (oQ & X (true U oU))))))

#36: output Z responds to input B, input C after output T
(false R (! oT | (false R (iB & (! X (true U iC) | X (! iC U (iC & (true U oZ))))))))

#37: output Q, output X precedes output V between input A and input E
(false R (! (iA & (true U iE)) | (! oV U (iE | ((oQ & ! oV) & X (! oV U oX))))))

#38: input M, input E precedes output W between output V and input D
(false R (! (oV & (true U iD)) | (! oW U (iD | ((iM & ! oW) & X (! oW U iE))))))

#39: output U, input N precedes output Y between input F and input H
(false R (! (iF & (true U iH)) | (! oY U (iH | ((oU & ! oY) & X (! oY U iN))))))

#40: output Q responds to input I, input B between input A and output X
(false R (! (iA & (true U oX)) | ((iI & (! X (! oX U iB) | X (! oX U (iB & (true U oQ))))) U oX)))

#41: output T precedes output X before input D
(! (true U iD) | (! oX U (oT | iD)))

#42: output X, output T without output R responds to input H after output S
(false R (! oS | (false R (! iH | ((oX & ! oR) & X (! oR U oT))))))

#43: output Z, output Y responds to input E after output Q until input M
(false R (! oQ | ((! iE | (! iM U ((oZ & ! iM) & X (! iM U oY)))) U (iM | (false R (! iE | (oZ & X (true U oY))))))))

#44: output W always responds to input I, input K
(false R (iI & (! X (true U iK) | X (true U (iK & (true U oW))))))

#45: output Y, input G always precedes output W
(! (true U oW) | (! oW U ((oY & ! oW) & X (! oW U iG))))

#46: output Z, input D precedes output S after output R
((false R ! oR) | (! oR U (oR & (! (true U oS) | (! oS U ((oZ & ! oS) & X (! oS U iD)))))))

#47: output Z, output T without output V responds to input E after input J until output X
(false R (! iJ | ((! iE | (! oX U (((oZ & ! oX) & ! oV) & X ((! oX & ! oV) U oT)))) U (oX | (false R (! iE | ((oZ & ! oV) & X (! oV U oT))))))))

#48: output S, output W without output Z responds to input O before input C
(! (true U iC) | ((! iO | (! iC U (((oS & ! iC) & ! oZ) & X ((! iC & ! oZ) U oW)))) U iC))

#49: output V responds to input B after output R
(false R (! oR | (false R (! iB | (true U oV)))))

#50: output T always precedes output Q
(! oQ WU oT)

#51: input O precedes output R after output S
((false R ! oS) | (true U (oS & (! oR WU iO))))

#52: output U responds to input C, input K between output T and output P
(false R (! (oT & (true U oP)) | ((iC & (! X (! oP U iK) | X (! oP U (iK & (true U oU))))) U oP)))

#53: input I precedes output Z after output V
((false R ! oV) | (true U (oV & (! oZ WU iI))))

#54: output Y responds to input G between output P and input F
(false R (! ((oP & ! iF) & (true U iF)) | ((! iG | (! iF U (oY & ! iF))) U iF)))

#55: output W responds to input C after input J
(false R (! iJ | (false R (! iC | (true U oW)))))

#56: output V, output P without output Q responds to input J after output U
(false R (! oU | (false R (! iJ | ((oV & ! oQ) & X (! oQ U oP))))))

#57: output T, input J precedes output U after input I
((false R ! iI) | (! iI U (iI & (! (true U oU) | (! oU U ((oT & ! oU) & X (! oU U iJ)))))))

#58: input D, output P precedes output W after input F until input N
(false R (! iF | (! (true U oW) | (! oW U (iN | ((iD & ! oW) & X (! oW U oP)))))))

#59: input I, output S precedes output V after output U
((false R ! oU) | (! oU U (oU & (! (true U oV) | (! oV U ((iI & ! oV) & X (! oV U oS)))))))

#60: output S responds to input N before input H
(! (true U iH) | ((! iN | (! iH U (oS & ! iH))) U iH))

#61: output V always precedes output U
(! oU WU oV)

#62: output S, output Z without output T always responds to input H
(false R (! iH | (true U ((oS & ! oT) & X (! oT U oZ)))))

#63: output Q precedes output Z before input L
(! (true U iL) | (! oZ U (oQ | iL)))

#64: output X always precedes output Q, output Y
(! (true U (oQ & X (true U oY))) | (! oQ U oX))

#65: output R, output P without output Z responds to input A after input K until input I
(false R (! iK | ((! iA | (! iI U (((oR & ! iI) & ! oZ) & X ((! iI & ! oZ) U oP)))) U (iI | (false R (! iA | ((oR & ! oZ) & X (! oZ U oP))))))))

#66: output W, output V responds to input L between input H and input B
(false R (! (iH & (true U iB)) | ((! iL | (! iB U ((oW & ! iB) & X (! iB U oV)))) U iB)))

#67: output X responds to input K, input O before output Z
(! (true U oZ) | ((iK & (! X (! oZ U iO) | X (! oZ U (iO & (true U oX))))) U oZ))

#68: input H precedes output V after input E until input C
(false R (iE & (! ! iC | (! oV WU (iH | iC)))))

#69: output V precedes output Y, output S after output U until input I
(false R (! oU | ((! ((oY & ! iI) & X (! iI U (oS & ! iI))) U (iI | oV)) | (false R ! (oY & X (true U oS))))))

#70: input I always precedes output T, output Y
(! (true U (oT & X (true U oY))) | (! oT U iI))

#71: output P responds to input H, input D after output Z until input M
(false R (! oZ | ((iH & (! X (! iM U iD) | X (! iM U (iD & (true U oP))))) U (iM | (false R (iH & (! X (! iM U iD) | X (! iM U (iD & (true U oP))))))))))

#72: input K precedes output U after input I
((false R ! iI) | (true U (iI & (! oU WU iK))))

#73: output X precedes output T, output S before input O
(! (true U iO) | (! ((oT & ! iO) & X (! iO U (oS & ! iO))) U (iO | oX)))

#74: input O precedes output X, output T before output Y
(! (true U oY) | (! ((oX & ! oY) & X (! oY U (oT & ! oY))) U (oY | iO)))

#75: output W responds to input D after input E
(false R (! iE | (false R (! iD | (true U oW)))))

#76: input C always precedes output W
(! oW WU iC)

#77: input H precedes output T, output Q after input A until input F
(false R (! iA | ((! ((oT & ! iF) & X (! iF U (oQ & ! iF))) U (iF | iH)) | (false R ! (oT & X (true U oQ))))))

#78: input E precedes output U, output S after output Z
((false R ! oZ) | (! oZ U (oZ & (! (true U (oU & X (true U oS))) | (! oU U iE)))))

#79: output P responds to input L, input D after output T until output X
(false R (! oT | ((iL & (! X (! oX U iD) | X (! oX U (iD & (true U oP))))) U (oX | (false R (iL & (! X (! oX U iD) | X (! oX U (iD & (true U oP))))))))))

#80: output R, output X precedes output T after input F
((false R ! iF) | (! iF U (iF & (! (true U oT) | (! oT U ((oR & ! oT) & X (! oT U oX)))))))

#81: output X precedes output S, output V after input B until output Z
(false R (! iB | ((! ((oS & ! oZ) & X (! oZ U (oV & ! oZ))) U (oZ | oX)) | (false R ! (oS & X (true U oV))))))

#82: output V, output W without output U responds to input A after input L until input K
(false R (! iL | ((! iA | (! iK U (((oV & ! iK) & ! oU) & X ((! iK & ! oU) U oW)))) U (iK | (false R (! iA | ((oV & ! oU) & X (! oU U oW))))))))

#83: output Y, output P responds to input H after input I until input G
(false R (! iI | ((! iH | (! iG U ((oY & ! iG) & X (! iG U oP)))) U (iG | (false R (! iH | (oY & X (true U oP))))))))

#84: output Q, output Y without output T always responds to input H
(false R (! iH | (true U ((oQ & ! oT) & X (! oT U oY)))))

#85: output V precedes output Y between output S and input D
(false R (! ((oS & ! iD) & (true U iD)) | (! oY U (oV | iD))))

#86: output X responds to input J, input D after input I
(false R (! iI | (false R (iJ & (! X (true U iD) | X (! iD U (iD & (true U oX))))))))

#87: output R responds to input I between input F and output T
(false R (! ((iF & ! oT) & (true U oT)) | ((! iI | (! oT U (oR & ! oT))) U oT)))

#88: output X responds to input J, input F after input M
(false R (! iM | (false R (iJ & (! X (true U iF) | X (! iF U (iF & (true U oX))))))))

#89: input F precedes output R, output Q after output Z until output P
(false R (! oZ | ((! ((oR & ! oP) & X (! oP U (oQ & ! oP))) U (oP | iF)) | (false R ! (oR & X (true U oQ))))))

#90: output Z precedes output S before output X
(! (true U oX) | (! oS U (oZ | oX)))

#91: output U, output P responds to input F after output Z until input O
(false R (! oZ | ((! iF | (! iO U ((oU & ! iO) & X (! iO U oP)))) U (iO | (false R (! iF | (oU & X (true U oP))))))))

#92: input D always precedes output Y, output V
(! (true U (oY & X (true U oV))) | (! oY U iD))

#93: output Y responds to input A after input G
(false R (! iG | (false R (! iA | (true U oY)))))

#94: output Q always responds to input A
(false R (! iA | (true U oQ)))

#95: input F precedes output V between output U and input J
(false R (! ((oU & ! iJ) & (true U iJ)) | (! oV U (iF | iJ))))

#96: output V responds to input H after output U until input F
(false R (oU & (! ! iF | ((! iH | (! iF U (oV & ! iF))) WU iF))))

#97: output T, output V responds to input E after output Z
(false R (! oZ | (false R (! iE | (oT & X (true U oV))))))

#98: input G, output Q precedes output P after input D
((false R ! iD) | (! iD U (iD & (! (true U oP) | (! oP U ((iG & ! oP) & X (! oP U oQ)))))))

#99: input N always precedes output Z, output P
(! (true U (oZ & X (true U oP))) | (! oZ U iN))

