#inputs [A, B, C, D, E, F, G, H, I, J]
#outputs [X, Y, Z, U, V, W, S, T, O, P, Q, R]
#0: output R responds to input J between output Z and input E
(false R (! ((oZ & ! iE) & (true U iE)) | ((! iJ | (! iE U (oR & ! iE))) U iE)))

#1: output Q, output Z responds to input B after output R
(false R (! oR | (false R (! iB | (oQ & X (true U oZ))))))

#2: output U always responds to input A
(false R (! iA | (true U oU)))

#3: output Z, output W responds to input I before output P
(! (true U oP) | ((! iI | (! oP U ((oZ & ! oP) & X (! oP U oW)))) U oP))

#4: output Z responds to input H, input I after output O
(false R (! oO | (false R (iH & (! X (true U iI) | X (! iI U (iI & (true U oZ))))))))

#5: output Z, output R without output P responds to input D betwen output S and output Q
(false R (! (oS & (true U oQ)) | ((! iD | (! oQ U (((oZ & ! oQ) & ! oP) & X ((! oQ & ! oP) U oR)))) U oQ)))

#6: output Q responds to input I, input B before output R
(! (true U oR) | ((iI & (! X (! oR U iB) | X (! oR U (iB & (true U oQ))))) U oR))

#7: output O, output U without output P always responds to input G
(false R (! iG | (true U ((oO & ! oP) & X (! oP U oU)))))

#8: output W, output T always responds to input H
(false R (! iH | (true U (oW & X (true U oT)))))

#9: output W, output V without output Y always responds to input H
(false R (! iH | (true U ((oW & ! oY) & X (! oY U oV)))))

#10: output Y, output V always responds to input E
(false R (! iE | (true U (oY & X (true U oV)))))

#11: output O, output U always responds to input I
(false R (! iI | (true U (oO & X (true U oU)))))

#12: output S precedes output R after output X until output V
(false R (oX & (! ! oV | (! oR WU (oS | oV)))))

#13: output S, input A precedes output V before output Y
(! (true U oY) | (! oV U (oY | ((oS & ! oV) & X (! oV U iA)))))

#14: output V, input F precedes output Z before input I
(! (true U iI) | (! oZ U (iI | ((oV & ! oZ) & X (! oZ U iF)))))

#15: input I, output Y precedes output O before input F
(! (true U iF) | (! oO U (iF | ((iI & ! oO) & X (! oO U oY)))))

#16: output O, output T precedes output Q after input B
((false R ! iB) | (! iB U (iB & (! (true U oQ) | (! oQ U ((oO & ! oQ) & X (! oQ U oT)))))))

#17: output X, output Y without output V always responds to input C
(false R (! iC | (true U ((oX & ! oV) & X (! oV U oY)))))

#18: input C precedes output O, output W after input F until input H
(false R (! iF | ((! ((oO & ! iH) & X (! iH U (oW & ! iH))) U (iH | iC)) | (false R ! (oO & X (true U oW))))))

#19: output R, output X responds to input F between input J and input G
(false R (! (iJ & (true U iG)) | ((! iF | (! iG U ((oR & ! iG) & X (! iG U oX)))) U iG)))

#20: output Z, output R without output T responds to input J before output P
(! (true U oP) | ((! iJ | (! oP U (((oZ & ! oP) & ! oT) & X ((! oP & ! oT) U oR)))) U oP))

#21: output S, output Z without output W responds to input J after input G
(false R (! iG | (false R (! iJ | ((oS & ! oW) & X (! oW U oZ))))))

#22: output T, output S responds to input H between output Y and input B
(false R (! (oY & (true U iB)) | ((! iH | (! iB U ((oT & ! iB) & X (! iB U oS)))) U iB)))

#23: input I precedes output T after output P
((false R ! oP) | (true U (oP & (! oT WU iI))))

#24: input H precedes output X, output T after output V until output U
(false R (! oV | ((! ((oX & ! oU) & X (! oU U (oT & ! oU))) U (oU | iH)) | (false R ! (oX & X (true U oT))))))

#25: output X, output Z responds to input J after input A
(false R (! iA | (false R (! iJ | (oX & X (true U oZ))))))

#26: output P responds to input A after output X
(false R (! oX | (false R (! iA | (true U oP)))))

#27: output T, output P without output R responds to input D after output O
(false R (! oO | (false R (! iD | ((oT & ! oR) & X (! oR U oP))))))

#28: output Z responds to input A before input H
(! (true U iH) | ((! iA | (! iH U (oZ & ! iH))) U iH))

#29: output Z, output V precedes output W between input C and output U
(false R (! (iC & (true U oU)) | (! oW U (oU | ((oZ & ! oW) & X (! oW U oV))))))

#30: output X, output O without output V responds to input A before output Q
(! (true U oQ) | ((! iA | (! oQ U (((oX & ! oQ) & ! oV) & X ((! oQ & ! oV) U oO)))) U oQ))

#31: output X responds to input A, input E between output U and input J
(false R (! (oU & (true U iJ)) | ((iA & (! X (! iJ U iE) | X (! iJ U (iE & (true U oX))))) U iJ)))

#32: output X, input A precedes output P before input B
(! (true U iB) | (! oP U (iB | ((oX & ! oP) & X (! oP U iA)))))

#33: output V always precedes output P, output Z
(! (true U (oP & X (true U oZ))) | (! oP U oV))

#34: input E, input A precedes output O after input B until input G
(false R (! iB | (! (true U oO) | (! oO U (iG | ((iE & ! oO) & X (! oO U iA)))))))

#35: output O responds to input F between input H and output T
(false R (! ((iH & ! oT) & (true U oT)) | ((! iF | (! oT U (oO & ! oT))) U oT)))

#36: output O, output P precedes output S after input H
((false R ! iH) | (! iH U (iH & (! (true U oS) | (! oS U ((oO & ! oS) & X (! oS U oP)))))))

#37: output T always precedes output U
(! oU WU oT)

#38: output Y, output O without output P responds to input I after output V until input F
(false R (! oV | ((! iI | (! iF U (((oY & ! iF) & ! oP) & X ((! iF & ! oP) U oO)))) U (iF | (false R (! iI | ((oY & ! oP) & X (! oP U oO))))))))

#39: output S responds to input H, input A before output U
(! (true U oU) | ((iH & (! X (! oU U iA) | X (! oU U (iA & (true U oS))))) U oU))

#40: output P always precedes output S
(! oS WU oP)

#41: output O precedes output Q after output S until output X
(false R (oS & (! ! oX | (! oQ WU (oO | oX)))))

#42: output V responds to input B, input G before output S
(! (true U oS) | ((iB & (! X (! oS U iG) | X (! oS U (iG & (true U oV))))) U oS))

#43: output R, output V without output W always responds to input D
(false R (! iD | (true U ((oR & ! oW) & X (! oW U oV)))))

#44: output W, output Y always responds to input I
(false R (! iI | (true U (oW & X (true U oY)))))

#45: output V responds to input I after output X
(false R (! oX | (false R (! iI | (true U oV)))))

#46: output O, output S without output Q responds to input J after input I until input H
(false R (! iI | ((! iJ | (! iH U (((oO & ! iH) & ! oQ) & X ((! iH & ! oQ) U oS)))) U (iH | (false R (! iJ | ((oO & ! oQ) & X (! oQ U oS))))))))

#47: output T precedes output R after output X until output O
(false R (oX & (! ! oO | (! oR WU (oT | oO)))))

#48: output T, output W always responds to input G
(false R (! iG | (true U (oT & X (true U oW)))))

#49: output O, input J precedes output W before input A
(! (true U iA) | (! oW U (iA | ((oO & ! oW) & X (! oW U iJ)))))

#50: output Q, output Y without output X responds to input D before input F
(! (true U iF) | ((! iD | (! iF U (((oQ & ! iF) & ! oX) & X ((! iF & ! oX) U oY)))) U iF))

#51: output Y precedes output W between input A and input E
(false R (! ((iA & ! iE) & (true U iE)) | (! oW U (oY | iE))))

#52: output S, output Z precedes output T after input H until output X
(false R (! iH | (! (true U oT) | (! oT U (oX | ((oS & ! oT) & X (! oT U oZ)))))))

#53: input I precedes output W between output P and input H
(false R (! ((oP & ! iH) & (true U iH)) | (! oW U (iI | iH))))

#54: input E precedes output U, output O after output W
((false R ! oW) | (! oW U (oW & (! (true U (oU & X (true U oO))) | (! oU U iE)))))

#55: output T, output Y responds to input B after input J
(false R (! iJ | (false R (! iB | (oT & X (true U oY))))))

#56: output Q, output R responds to input D after input J
(false R (! iJ | (false R (! iD | (oQ & X (true U oR))))))

#57: output S, output U always precedes output V
(! (true U oV) | (! oV U ((oS & ! oV) & X (! oV U oU))))

#58: output P precedes output T after input G until input E
(false R (iG & (! ! iE | (! oT WU (oP | iE)))))

#59: output S, output X responds to input J after input D until output T
(false R (! iD | ((! iJ | (! oT U ((oS & ! oT) & X (! oT U oX)))) U (oT | (false R (! iJ | (oS & X (true U oX))))))))

#60: output T, input D precedes output X before input H
(! (true U iH) | (! oX U (iH | ((oT & ! oX) & X (! oX U iD)))))

#61: input E precedes output Z, output Y after input D
((false R ! iD) | (! iD U (iD & (! (true U (oZ & X (true U oY))) | (! oZ U iE)))))

#62: output Q, output W responds to input E after input C until output U
(false R (! iC | ((! iE | (! oU U ((oQ & ! oU) & X (! oU U oW)))) U (oU | (false R (! iE | (oQ & X (true U oW))))))))

#63: output R, output Z responds to input H before output W
(! (true U oW) | ((! iH | (! oW U ((oR & ! oW) & X (! oW U oZ)))) U oW))

#64: output P responds to input C after input B
(false R (! iB | (false R (! iC | (true U oP)))))

#65: output O responds to input J, input I before input E
(! (true U iE) | ((iJ & (! X (! iE U iI) | X (! iE U (iI & (true U oO))))) U iE))

#66: input A precedes output U after output P until output Y
(false R (oP & (! ! oY | (! oU WU (iA | oY)))))

#67: output Z responds to input F after input C until output O
(false R (iC & (! ! oO | ((! iF | (! oO U (oZ & ! oO))) WU oO))))

#68: output S, output P without output R responds to input G after output V until input E
(false R (! oV | ((! iG | (! iE U (((oS & ! iE) & ! oR) & X ((! iE & ! oR) U oP)))) U (iE | (false R (! iG | ((oS & ! oR) & X (! oR U oP))))))))

#69: input A precedes output X, output U after output R
((false R ! oR) | (! oR U (oR & (! (true U (oX & X (true U oU))) | (! oX U iA)))))

#70: output T, output W responds to input D between input J and output V
(false R (! (iJ & (true U oV)) | ((! iD | (! oV U ((oT & ! oV) & X (! oV U oW)))) U oV)))

#71: output R, output T without output X always responds to input H
(false R (! iH | (true U ((oR & ! oX) & X (! oX U oT)))))

#72: input F always precedes output U, output Y
(! (true U (oU & X (true U oY))) | (! oU U iF))

#73: output W responds to input I after output U until input G
(false R (oU & (! ! iG | ((! iI | (! iG U (oW & ! iG))) WU iG))))

#74: output T, output U without output W responds to input C after input H until output Y
(false R (! iH | ((! iC | (! oY U (((oT & ! oY) & ! oW) & X ((! oY & ! oW) U oU)))) U (oY | (false R (! iC | ((oT & ! oW) & X (! oW U oU))))))))

#75: output R, output P responds to input A after output T until output X
(false R (! oT | ((! iA | (! oX U ((oR & ! oX) & X (! oX U oP)))) U (oX | (false R (! iA | (oR & X (true U oP))))))))

#76: output W, output X responds to input E between output Z and input B
(false R (! (oZ & (true U iB)) | ((! iE | (! iB U ((oW & ! iB) & X (! iB U oX)))) U iB)))

#77: output O always responds to input J, input B
(false R (iJ & (! X (true U iB) | X (true U (iB & (true U oO))))))

#78: output Q responds to input A, input H after output Z
(false R (! oZ | (false R (iA & (! X (true U iH) | X (! iH U (iH & (true U oQ))))))))

#79: input G precedes output S, output V after output Q
((false R ! oQ) | (! oQ U (oQ & (! (true U (oS & X (true U oV))) | (! oS U iG)))))

#80: input H precedes output T after output Q
((false R ! oQ) | (true U (oQ & (! oT WU iH))))

#81: input J, output S precedes output W after output O until output Q
(false R (! oO | (! (true U oW) | (! oW U (oQ | ((iJ & ! oW) & X (! oW U oS)))))))

#82: output W, output O precedes output S after output X until output Q
(false R (! oX | (! (true U oS) | (! oS U (oQ | ((oW & ! oS) & X (! oS U oO)))))))

#83: output R, output X without output W responds to input B before output O
(! (true U oO) | ((! iB | (! oO U (((oR & ! oO) & ! oW) & X ((! oO & ! oW) U oX)))) U oO))

#84: input A, input G precedes output V between output S and output Y
(false R (! (oS & (true U oY)) | (! oV U (oY | ((iA & ! oV) & X (! oV U iG))))))

#85: output O, output T without output P responds to input H after input F
(false R (! iF | (false R (! iH | ((oO & ! oP) & X (! oP U oT))))))

#86: output W responds to input G, input C after output P until input F
(false R (! oP | ((iG & (! X (! iF U iC) | X (! iF U (iC & (true U oW))))) U (iF | (false R (iG & (! X (! iF U iC) | X (! iF U (iC & (true U oW))))))))))

#87: input I, output W always precedes output V
(! (true U oV) | (! oV U ((iI & ! oV) & X (! oV U oW))))

#88: output P responds to input G after output Y
(false R (! oY | (false R (! iG | (true U oP)))))

#89: output Y, input B precedes output U before output P
(! (true U oP) | (! oU U (oP | ((oY & ! oU) & X (! oU U iB)))))

#90: output U precedes output Y, output R before output T
(! (true U oT) | (! ((oY & ! oT) & X (! oT U (oR & ! oT))) U (oT | oU)))

#91: input E precedes output Y, output V before output Q
(! (true U oQ) | (! ((oY & ! oQ) & X (! oQ U (oV & ! oQ))) U (oQ | iE)))

#92: output T responds to input A, input C between output S and output Z
(false R (! (oS & (true U oZ)) | ((iA & (! X (! oZ U iC) | X (! oZ U (iC & (true U oT))))) U oZ)))

#93: output O, output Y without output P responds to input D betwen output T and input E
(false R (! (oT & (true U iE)) | ((! iD | (! iE U (((oO & ! iE) & ! oP) & X ((! iE & ! oP) U oY)))) U iE)))

#94: output V, input G precedes output Q before output T
(! (true U oT) | (! oQ U (oT | ((oV & ! oQ) & X (! oQ U iG)))))

#95: output T responds to input G before output P
(! (true U oP) | ((! iG | (! oP U (oT & ! oP))) U oP))

#96: output X, output P responds to input H before input C
(! (true U iC) | ((! iH | (! iC U ((oX & ! iC) & X (! iC U oP)))) U iC))

#97: input F precedes output Q, output Z after output P until input A
(false R (! oP | ((! ((oQ & ! iA) & X (! iA U (oZ & ! iA))) U (iA | iF)) | (false R ! (oQ & X (true U oZ))))))

#98: output R, output P without output U responds to input J after input A
(false R (! iA | (false R (! iJ | ((oR & ! oU) & X (! oU U oP))))))

#99: output O responds to input I after output X
(false R (! oX | (false R (! iI | (true U oO)))))

