#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T]
#outputs [X, Y, Z, U, V, W]
#0: input M precedes output Y, output V before input J
(! (true U iJ) | (! ((oY & ! iJ) & X (! iJ U (oV & ! iJ))) U (iJ | iM)))

#1: output V responds to input G, input C after input H until input E
(false R (! iH | ((iG & (! X (! iE U iC) | X (! iE U (iC & (true U oV))))) U (iE | (false R (iG & (! X (! iE U iC) | X (! iE U (iC & (true U oV))))))))))

#2: input B precedes output X, output V after input D
((false R ! iD) | (! iD U (iD & (! (true U (oX & X (true U oV))) | (! oX U iB)))))

#3: input R, input K precedes output W before output X
(! (true U oX) | (! oW U (oX | ((iR & ! oW) & X (! oW U iK)))))

#4: input S always precedes output W
(! oW WU iS)

#5: input F precedes output W, output Z before input C
(! (true U iC) | (! ((oW & ! iC) & X (! iC U (oZ & ! iC))) U (iC | iF)))

#6: output X precedes output Y, output W before input P
(! (true U iP) | (! ((oY & ! iP) & X (! iP U (oW & ! iP))) U (iP | oX)))

#7: input O precedes output Z after output W until input T
(false R (oW & (! ! iT | (! oZ WU (iO | iT)))))

#8: input K precedes output Z after input S until input J
(false R (iS & (! ! iJ | (! oZ WU (iK | iJ)))))

#9: input G precedes output W before input D
(! (true U iD) | (! oW U (iG | iD)))

#10: output Y, input O precedes output V after input P
((false R ! iP) | (! iP U (iP & (! (true U oV) | (! oV U ((oY & ! oV) & X (! oV U iO)))))))

#11: output W, output Z responds to input E after input T
(false R (! iT | (false R (! iE | (oW & X (true U oZ))))))

#12: output Z responds to input R after input E until input C
(false R (iE & (! ! iC | ((! iR | (! iC U (oZ & ! iC))) WU iC))))

#13: output X responds to input G, input Q between output W and input A
(false R (! (oW & (true U iA)) | ((iG & (! X (! iA U iQ) | X (! iA U (iQ & (true U oX))))) U iA)))

#14: input P always precedes output V
(! oV WU iP)

#15: output W responds to input C after input E
(false R (! iE | (false R (! iC | (true U oW)))))

#16: output V responds to input R after input K
(false R (! iK | (false R (! iR | (true U oV)))))

#17: output X responds to input B after input A
(false R (! iA | (false R (! iB | (true U oX)))))

#18: output Y, input L precedes output W before input S
(! (true U iS) | (! oW U (iS | ((oY & ! oW) & X (! oW U iL)))))

#19: output W, output Z without output U responds to input S after input E
(false R (! iE | (false R (! iS | ((oW & ! oU) & X (! oU U oZ))))))

#20: input B, input O precedes output Y before input F
(! (true U iF) | (! oY U (iF | ((iB & ! oY) & X (! oY U iO)))))

#21: input H precedes output Z, output U after output X
((false R ! oX) | (! oX U (oX & (! (true U (oZ & X (true U oU))) | (! oZ U iH)))))

#22: output Y, output X responds to input F after input L
(false R (! iL | (false R (! iF | (oY & X (true U oX))))))

#23: output Z responds to input L, input T after input G
(false R (! iG | (false R (iL & (! X (true U iT) | X (! iT U (iT & (true U oZ))))))))

#24: output V responds to input E between output W and output U
(false R (! ((oW & ! oU) & (true U oU)) | ((! iE | (! oU U (oV & ! oU))) U oU)))

#25: input J, output Y precedes output U after input E until input F
(false R (! iE | (! (true U oU) | (! oU U (iF | ((iJ & ! oU) & X (! oU U oY)))))))

#26: output U, output W responds to input I between input A and output X
(false R (! (iA & (true U oX)) | ((! iI | (! oX U ((oU & ! oX) & X (! oX U oW)))) U oX)))

#27: output Y precedes output U, output Z after input J until input I
(false R (! iJ | ((! ((oU & ! iI) & X (! iI U (oZ & ! iI))) U (iI | oY)) | (false R ! (oU & X (true U oZ))))))

#28: output Y responds to input L before input M
(! (true U iM) | ((! iL | (! iM U (oY & ! iM))) U iM))

#29: input D, input I precedes output U after output Y
((false R ! oY) | (! oY U (oY & (! (true U oU) | (! oU U ((iD & ! oU) & X (! oU U iI)))))))

#30: output V responds to input J, input A between input C and input F
(false R (! (iC & (true U iF)) | ((iJ & (! X (! iF U iA) | X (! iF U (iA & (true U oV))))) U iF)))

#31: output X precedes output U, output Z before input C
(! (true U iC) | (! ((oU & ! iC) & X (! iC U (oZ & ! iC))) U (iC | oX)))

#32: output V, output U responds to input R after input N
(false R (! iN | (false R (! iR | (oV & X (true U oU))))))

#33: input H precedes output V before input A
(! (true U iA) | (! oV U (iH | iA)))

#34: output W, output Y responds to input H after output Z
(false R (! oZ | (false R (! iH | (oW & X (true U oY))))))

#35: output V responds to input O after input A
(false R (! iA | (false R (! iO | (true U oV)))))

#36: output Y responds to input P after input O until output Z
(false R (iO & (! ! oZ | ((! iP | (! oZ U (oY & ! oZ))) WU oZ))))

#37: output U responds to input R between input B and input J
(false R (! ((iB & ! iJ) & (true U iJ)) | ((! iR | (! iJ U (oU & ! iJ))) U iJ)))

#38: input M, output W precedes output Z between input T and input E
(false R (! (iT & (true U iE)) | (! oZ U (iE | ((iM & ! oZ) & X (! oZ U oW))))))

#39: input S always precedes output U
(! oU WU iS)

#40: output X, output W responds to input H after input C until input G
(false R (! iC | ((! iH | (! iG U ((oX & ! iG) & X (! iG U oW)))) U (iG | (false R (! iH | (oX & X (true U oW))))))))

#41: input H precedes output U after input B
((false R ! iB) | (true U (iB & (! oU WU iH))))

#42: output U responds to input T after input B
(false R (! iB | (false R (! iT | (true U oU)))))

#43: input J precedes output Y, output X before output U
(! (true U oU) | (! ((oY & ! oU) & X (! oU U (oX & ! oU))) U (oU | iJ)))

#44: input G, input H precedes output Z before input I
(! (true U iI) | (! oZ U (iI | ((iG & ! oZ) & X (! oZ U iH)))))

#45: input G precedes output V, output Y between output U and input C
(false R (! (oU & (true U iC)) | (! ((oV & ! iC) & X (! iC U (oY & ! iC))) U (iC | iG))))

#46: output Y responds to input R after input C until input I
(false R (iC & (! ! iI | ((! iR | (! iI U (oY & ! iI))) WU iI))))

#47: output W always responds to input J, input F
(false R (iJ & (! X (true U iF) | X (true U (iF & (true U oW))))))

#48: input N always precedes output Z
(! oZ WU iN)

#49: input G always precedes output X, output Z
(! (true U (oX & X (true U oZ))) | (! oX U iG))

#50: output Z responds to input K between input F and input I
(false R (! ((iF & ! iI) & (true U iI)) | ((! iK | (! iI U (oZ & ! iI))) U iI)))

#51: output W, input E always precedes output U
(! (true U oU) | (! oU U ((oW & ! oU) & X (! oU U iE))))

#52: output U, output Z without output Y responds to input R betwen output X and input K
(false R (! (oX & (true U iK)) | ((! iR | (! iK U (((oU & ! iK) & ! oY) & X ((! iK & ! oY) U oZ)))) U iK)))

#53: output Z precedes output V between input E and input D
(false R (! ((iE & ! iD) & (true U iD)) | (! oV U (oZ | iD))))

#54: output Y responds to input S after input T
(false R (! iT | (false R (! iS | (true U oY)))))

#55: output Z always responds to input H
(false R (! iH | (true U oZ)))

#56: input G, output Z always precedes output W
(! (true U oW) | (! oW U ((iG & ! oW) & X (! oW U oZ))))

#57: output V, output Y responds to input P after input D until output U
(false R (! iD | ((! iP | (! oU U ((oV & ! oU) & X (! oU U oY)))) U (oU | (false R (! iP | (oV & X (true U oY))))))))

#58: input M always precedes output Z
(! oZ WU iM)

#59: input K precedes output W between input D and input P
(false R (! ((iD & ! iP) & (true U iP)) | (! oW U (iK | iP))))

#60: input P precedes output Y, output U after input H
((false R ! iH) | (! iH U (iH & (! (true U (oY & X (true U oU))) | (! oY U iP)))))

#61: output U responds to input J after output W
(false R (! oW | (false R (! iJ | (true U oU)))))

#62: input K precedes output X after output W until input E
(false R (oW & (! ! iE | (! oX WU (iK | iE)))))

#63: input N precedes output X, output W before input D
(! (true U iD) | (! ((oX & ! iD) & X (! iD U (oW & ! iD))) U (iD | iN)))

#64: input R, input B precedes output W after input H
((false R ! iH) | (! iH U (iH & (! (true U oW) | (! oW U ((iR & ! oW) & X (! oW U iB)))))))

#65: output Z, output V without output Y responds to input O after input B until input E
(false R (! iB | ((! iO | (! iE U (((oZ & ! iE) & ! oY) & X ((! iE & ! oY) U oV)))) U (iE | (false R (! iO | ((oZ & ! oY) & X (! oY U oV))))))))

#66: input O, input T always precedes output Z
(! (true U oZ) | (! oZ U ((iO & ! oZ) & X (! oZ U iT))))

#67: output U, output W without output X responds to input F after input Q
(false R (! iQ | (false R (! iF | ((oU & ! oX) & X (! oX U oW))))))

#68: input E precedes output V, output Y between input O and input K
(false R (! (iO & (true U iK)) | (! ((oV & ! iK) & X (! iK U (oY & ! iK))) U (iK | iE))))

#69: input N, input P precedes output Y before input B
(! (true U iB) | (! oY U (iB | ((iN & ! oY) & X (! oY U iP)))))

#70: output Z responds to input P, input M after input T until input O
(false R (! iT | ((iP & (! X (! iO U iM) | X (! iO U (iM & (true U oZ))))) U (iO | (false R (iP & (! X (! iO U iM) | X (! iO U (iM & (true U oZ))))))))))

#71: input Q always precedes output U, output W
(! (true U (oU & X (true U oW))) | (! oU U iQ))

#72: output U responds to input J after input M
(false R (! iM | (false R (! iJ | (true U oU)))))

#73: output U, output V without output Y always responds to input E
(false R (! iE | (true U ((oU & ! oY) & X (! oY U oV)))))

#74: output V precedes output X, output Z before input A
(! (true U iA) | (! ((oX & ! iA) & X (! iA U (oZ & ! iA))) U (iA | oV)))

#75: input B precedes output Y after input A until input G
(false R (iA & (! ! iG | (! oY WU (iB | iG)))))

#76: output Y responds to input B, input M after input L until input K
(false R (! iL | ((iB & (! X (! iK U iM) | X (! iK U (iM & (true U oY))))) U (iK | (false R (iB & (! X (! iK U iM) | X (! iK U (iM & (true U oY))))))))))

#77: output X, output Y responds to input B before input D
(! (true U iD) | ((! iB | (! iD U ((oX & ! iD) & X (! iD U oY)))) U iD))

#78: output V, output Z without output Y responds to input J before input N
(! (true U iN) | ((! iJ | (! iN U (((oV & ! iN) & ! oY) & X ((! iN & ! oY) U oZ)))) U iN))

#79: output Z responds to input G, input I after input F until input S
(false R (! iF | ((iG & (! X (! iS U iI) | X (! iS U (iI & (true U oZ))))) U (iS | (false R (iG & (! X (! iS U iI) | X (! iS U (iI & (true U oZ))))))))))

#80: output Z, output Y without output X responds to input G before input K
(! (true U iK) | ((! iG | (! iK U (((oZ & ! iK) & ! oX) & X ((! iK & ! oX) U oY)))) U iK))

#81: input N precedes output V, output Z before output X
(! (true U oX) | (! ((oV & ! oX) & X (! oX U (oZ & ! oX))) U (oX | iN)))

#82: output U, output X responds to input Q between input L and input R
(false R (! (iL & (true U iR)) | ((! iQ | (! iR U ((oU & ! iR) & X (! iR U oX)))) U iR)))

#83: output W, output X without output Z responds to input T betwen input E and output U
(false R (! (iE & (true U oU)) | ((! iT | (! oU U (((oW & ! oU) & ! oZ) & X ((! oU & ! oZ) U oX)))) U oU)))

#84: input A precedes output U, output Z between input N and output V
(false R (! (iN & (true U oV)) | (! ((oU & ! oV) & X (! oV U (oZ & ! oV))) U (oV | iA))))

#85: output X, output V always responds to input Q
(false R (! iQ | (true U (oX & X (true U oV)))))

#86: input E precedes output V after input T
((false R ! iT) | (true U (iT & (! oV WU iE))))

#87: output Y responds to input E after output V until input R
(false R (oV & (! ! iR | ((! iE | (! iR U (oY & ! iR))) WU iR))))

#88: output V responds to input J, input G after input O until input I
(false R (! iO | ((iJ & (! X (! iI U iG) | X (! iI U (iG & (true U oV))))) U (iI | (false R (iJ & (! X (! iI U iG) | X (! iI U (iG & (true U oV))))))))))

#89: input K precedes output U, output W after input H
((false R ! iH) | (! iH U (iH & (! (true U (oU & X (true U oW))) | (! oU U iK)))))

#90: input D precedes output Z after input Q until input L
(false R (iQ & (! ! iL | (! oZ WU (iD | iL)))))

#91: output W, output Z without output X always responds to input T
(false R (! iT | (true U ((oW & ! oX) & X (! oX U oZ)))))

#92: output W always responds to input B
(false R (! iB | (true U oW)))

#93: input I precedes output U after input J until input F
(false R (iJ & (! ! iF | (! oU WU (iI | iF)))))

#94: output U, input Q precedes output Z after input L until input G
(false R (! iL | (! (true U oZ) | (! oZ U (iG | ((oU & ! oZ) & X (! oZ U iQ)))))))

#95: output Z, output Y without output X responds to input R betwen input K and input M
(false R (! (iK & (true U iM)) | ((! iR | (! iM U (((oZ & ! iM) & ! oX) & X ((! iM & ! oX) U oY)))) U iM)))

#96: output V, input E precedes output Z before input G
(! (true U iG) | (! oZ U (iG | ((oV & ! oZ) & X (! oZ U iE)))))

#97: input M precedes output W, output X before input F
(! (true U iF) | (! ((oW & ! iF) & X (! iF U (oX & ! iF))) U (iF | iM)))

#98: output V, output U responds to input R after input H until output W
(false R (! iH | ((! iR | (! oW U ((oV & ! oW) & X (! oW U oU)))) U (oW | (false R (! iR | (oV & X (true U oU))))))))

#99: output Z, output W always responds to input H
(false R (! iH | (true U (oZ & X (true U oW)))))

